locators/__pycache__/__init__.cpython-38.pyc
locators/__pycache__/mainpagelocators.cpython-38.pyc
locators/__pycache__/registrationpagelocators.cpython-38.pyc
locators/__pycache__/signinpagelocators.cpython-38.pyc
__pycache__/accountregistrationpage.cpython-38.pyc
__pycache__/mainpage.cpython-38.pyc
__pycache__/signinpage.cpython-38.pyc
__pycache__/testcreateaccount.cpython-38.pyc
__pycache__/testsigninaccount.cpython-38.pyc
